* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', serif;
    background-color: #f5f5f5;
    text-align: center;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid black;
    background: black;
}

.logo {
    height: 70px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.usericon {
    margin-left: 20px;
    font-size: 22px;
    color: white;
}

.banner {
    width: 100%;
    padding: 0;
    margin: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.map-img {
    width: 50%;
    max-width: 40%;
    display: block;
    margin: 0 auto;
}

.heading {
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
}

.content-area {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    margin-bottom: 40px;
}

.form-box {
    width: 350px;
    background: #eaeaea;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}

.form-box label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-box textarea {
    height: 120px;
    resize: none;
}

.send-btn {
    width: 100%;
    padding: 10px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s;
}

.send-btn:hover {
    background: black;
    color: white;
}

.contact-info {
    text-align: left;
    margin-top: 20px;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
}

.contact-info img {
    width: 24px;
    margin-right: 10px;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

p , h1 {
    color: white;
}

footer {
    background: black;
    color: white;
    padding: 20px;
    font-size: 14px;
}
