* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: url("../images/background.jpg") center/cover no-repeat fixed;
    color: white;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid black;
    background: black;
}

.logo {
    height: 80px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

nav a,
.usericon {
    text-decoration: none;
    color: white;
}

nav a {
    font-size: 15px;
}

.usericon {
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;
}

.viewmembers {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 15px;
    background: white;
    color: black;
    border: 1px solid white;
    cursor: pointer;
    transition: .3s;
}

.viewmembers:hover {
    background: black;
    color: white;
}

.membersgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px 40px;
    max-width: 1200px;
    margin: auto;
}

.membercard {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 250px;
    margin: auto;
}

.membercard ul {
    list-style: disc inside;
    margin-top: 5px;
    text-align: left;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
    background: black;
    color: white;
}

@media (max-width: 620px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        text-align: center;
        z-index: 99999;
    }

    .logo {
        height: 80px;
        margin: 0 auto 10px auto;
        display: block;
    }

    nav {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 5px;
    }

    nav a {
        font-size: 13px;
        white-space: nowrap;
    }

    .usericon {
        font-size: 18px;
        margin-left: 5px;
    }

    .membersgrid {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        gap: 15px;
    }

    .membercard {
        width: 90%;
    }
}