* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    background-color: black;
}

.logo {
    height: 80px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.usericon {
    margin-left: 20px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.arrow-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}

.back-arrow i {
    font-size: 26px;
    color: white;
}

.payment-page {
    width: 500px;
    margin: 40px auto;
    padding-bottom: 50px;
}

.payment-box {
    background: #e6e6e6;
    padding: 35px 30px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.payment-box label {
    font-size: 16px;
    margin-bottom: 5px;
}

.payment-box input,
.payment-box select {
    width: 100%;
    padding: 14px;
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    background: #fafafa;
    font-size: 16px;
}

.row {
    display: flex;
    gap: 20px;
}

.half {
    flex: 1;
}

.submit-btn {
    width: 60%;
    margin: 25px auto 0 auto;
    padding: 14px 0;
    background: white;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn:hover {
    background: #f3f3f3;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-box {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 300px;
}

.popup-box p {
    font-size: 20px;
    margin-bottom: 20px;
}

#popupBtn {
    background: red;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
#popupBtn:hover {
    background: darkred;
}

footer {
    margin-top: 100px;
    padding: 20px;
    font-size: 14px;
    background-color: black;
    color: white;
}
