* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    background-color: black;
}

.logo {
    height: 80px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.usericon {
    margin-left: 20px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.profile-section {
    width: 70%;
    margin: 30px auto;
    text-align: center;
}

.profile-photo-wrapper {
    text-align: center;
}

.profile-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile-photo {
    width: 140px;
    height: 140px;
    background: #d7d7d7;
    border-radius: 50%;
    border: 5px solid #ccc;
    background-size: cover;
    background-position: center;
}

.edit-icon-side {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.username {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

.account-box {
    background: #e6e6e6;
    padding: 25px;
    border-radius: 12px;
    text-align: left;
    margin: 20px auto;
    width: 80%;
}

.account-box h3 {
    margin-top: 0;
}

.order-title {
    margin-top: 40px;
    font-size: 22px;
    color: white;
}

.order-tabs {
    display: flex;
    justify-content: center;
    margin: 15px 0 25px 0;
    gap: 15px;
}

.order-tab {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    background: white;
    cursor: pointer;
}

.order-card {
    width: 85%;
    margin: 20px auto;
    background: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    background: white;
}

.order-info {
    text-align: left;
    flex: 1;
    margin-left: 20px;
}

.order-status {
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 14px;
    background: white;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
    background: black;
    color: white;
}