* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    background-color: black;
}

.logo {
    height: 80px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.usericon {
    margin-left: 20px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 20px 0 10px;
    color: white;
}

.ticket-container {
    display: flex;
    justify-content: center;
}

.ticket-left {
    width: 350px;
    text-align: center;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-box i {
    font-size: 70px;
}

.select-box {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
}

.ticket-type {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.ticket-type button {
    padding: 8px 25px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background: #e5e5e5;
    cursor: pointer;
    transition: .2s;
}

.ticket-type button.selected {
    background: #ffd6e8;
    border: 1px solid black;
}

.label {
    margin-top: 15px;
    font-size: 15px;
    color: white;
}

.qty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.qty-input {
    width: 80px;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
}

.qty-number {
    margin: 0 12px;
    font-size: 18px;
}

.book-btn {
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px solid black;
    background: #e8e8e8;
    cursor: pointer;
}

.divider {
    width: 90%;
    margin: 20px auto;
}

.summary-section {
    width: 80%;
    max-width: 700px;
    margin: auto;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.summary-section p,
.summary-row p {
    font-size: 20px;
    color: white;
}

.total p {
    font-weight: bold;
}

.pay-btn {
    display: block;
    margin: 35px auto;
    padding: 18px 80px;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;
    background: #e8e8e8;
    cursor: pointer;
}

h3 {
    font-size: 30px;
    color: white;
}

footer {
    margin-top: 178px;
    padding: 20px;
    font-size: 14px;
    background: black;
    color: white;
}

@media (max-width: 620px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        text-align: center;
        z-index: 99999;
    }

    .logo {
        height: 80px;
        margin: 0 auto 10px auto;
        display: block;
    }

    nav {
        width: 100%;
        margin-left: 0; 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 5px;
    }

    nav a {
        font-size: 13px;
        white-space: nowrap;
    }

    .usericon {
        font-size: 18px;
        margin-left: 5px;
    }
}