#view-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.view-box {
    background: #e6e6e6;
    padding: 25px;
    border-radius: 15px;

    display: flex;
    gap: 25px;
    text-align: left;
    margin-bottom: 25px;
}

.view-photo {
    width: 220px;
    height: 220px;
    background: #ccc;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
}

.view-info {
    flex: 1;
    font-size: 15px;
    line-height: 1.6;
}

.view-info p {
    margin-bottom: 8px;
}

.view-info b {
    font-weight: bold;
}