#view-container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.view-box {
    background: #e6e6e6;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.view-photo {
    width: 220px;
    height: 220px;
    border-radius: 12px;
    object-fit: cover;
}

.view-info {
    flex: 1;
    font-size: 15px;
    line-height: 1.6;
}

.view-info p {
    margin-bottom: 8px;
}

p { 
    color: black; 
}

footer {
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
    background: black;
    color: white;
}
